section.home_s-5
	.container
		.head-title
			img(src="./img/title/title-partner.png", alt="")
		.home-slide-swiper-wrapper
			.nav-arrow-prev
				em.lnr.lnr-chevron-left
			.nav-arrow-next
				em.lnr.lnr-chevron-right
			.swiper-container
				.swiper-wrapper
					-for (i=0; i<7; i++)
						.swiper-slide
							.wrapper
								img(src="./img/s-5/brand-1.png", alt="")