section.home_s-5
	.container
		.head-title
			img(src="./img/title/title-partner.png", alt="")
		.home-slide-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					-for (i=0; i<7; i++)
						.swiper-slide
							.wrapper
								a(href="#")
									img(src="./img/s-5/brand-1.png", alt="")