.bg-img-clouds
	position: relative
	.clouds-img
		.img
			position: absolute
			margin-top: -300px
			pointer-events: none
			width: 100%
			max-width: 100%
			z-index: 99
			@media screen and ( max-width: 1600px)
				margin-top: -275px
			@media screen and ( max-width: 1500px)
				margin-top: -245px
			@media screen and ( max-width: 1360px)
				margin-top: -225px
			@media screen and ( max-width: 1230px)
				margin-top: -190px
			@media screen and ( max-width: 1030px)
				margin-top: -155px
			@media screen and ( max-width: 850px)
				margin-top: -140px
			@media screen and ( max-width: 767px)
				margin-top: -125px
			@media screen and ( max-width: 678px)
				margin-top: -110px
			@media screen and ( max-width: 600px)
				margin-top: -95px
			@media screen and ( max-width: 530px)
				margin-top: -90px
			@media screen and ( max-width: 480px)
				margin-top: -80px
			@media screen and ( max-width: 450px)
				margin-top: -75px
			@media screen and ( max-width: 420px)
				margin-top: -65px
			@media screen and ( max-width: 380px)
				margin-top: -55px
			@media screen and ( max-width: 300px)
				margin-top: -45px
			img
				width: 100%
				height: 100%
