footer
	.footer-policy
		.container
			.list-policy
				.item-policy
					ul
						li
							.icon
								span.ri-shopping-bag-3-line
							.caption
								a(href="#") Chính sách mua hàng
						li
							.icon
								span.ri-article-line
							.caption
								a(href="#") Chính sách bán hàng
						li
							.icon
								span.ri-reply-line
							.caption
								a(href="#") Chính sách bảo hành & đổi trả
						li
							.icon
								span.ri-wallet-3-line
							.caption
								a(href="#") Phương thức thanh toán
						li
							.icon
								span.ri-customer-service-2-line
							.caption
								a(href="#") Hỗ trợ khách hàng
	.footer-logo
		.container
			.row
				.col-lg-2
					.item-logo
						a(href="#")
							img(src="./img/logo.png", alt="")
	.footer-address
		.container
			.row
				.col-lg-10
					.item-address
						.list-address
							ul
								li
									p Công Ty TNHH SX TM Bao Bì Phương Nam
								li
									p Mã số thuế: 0301515210
								li
									.caption-web
										.text-web Website:
										.link-web
											a(href="#") http://phuongnampacking.com/
					.item-address-2
						.list-address-2
							ul
								li
									.caption-email
										.text-email Email:
										.link-email
											a(href="#") phuongnambaobi@gmail.com
								li
									p Điện thoại: (+84) 37961762 - 37961763 - 37963644 - 37962812
								li
									p Fax: (+84) 37967161 - 37963643

	.footer-copyright
		.container
			.footer-block
				.item-office
					.icon-office
						a(href="#")
							img(src="./img/item-footer.png", alt="")
					.text-office
						ul
							li
								.office
									.icon-office
										span.ri-building-4-line
									.caption Văn Phòng Chính 
								.caption-office
									p KCN Tân Phú Trung, Huyện cũ chi, TPHCM
							li
								.office
									.icon-office
										span.ri-phone-line
								.caption-office
									p 0985.192.605
				.item-office
					.icon-office
						a(href="#")
							img(src="./img/item-footer.png", alt="")
					.text-office
						ul
							li
								.office
									.icon-office
										span.ri-building-4-line
									.caption Văn Phòng Chính 
								.caption-office
									p KCN Tân Phú Trung, Huyện cũ chi, TPHCM
							li
								.office
									.icon-office
										span.ri-phone-line
								.caption-office
									p 0985.192.605

		.container
			.link-copyright
				ul
					li
						a(href="#")
							span.ri-facebook-fill
					li
						a(href="#")
							span.ri-linkedin-fill
					li
						a(href="#")
							span.ri-youtube-fill
			.copyright
				p © 2020 Phuong Nam Packing. Thiết kế website bởi cánh cam.
				ul
					li
						a(href="#") Điều khoản sử dụng
					li
						a(href="#") Chính sách bảo mật
					li
						a(href="#") Sơ đồ trang web