.global-breadcrumb
	.container
		ol.breadcrumb
			li.breadcrumb-item
				a(href='#') Trang chu
			li.breadcrumb-item
				a(href='#') Cham soc khach hang 
			li.breadcrumb-item.active(aria-current='page')
				a(href="#")
					span Huong dan mua hang
