ol.breadcrumb
	display: flex
	align-items: center
	list-style: none
	padding: 0 6px
	li
		display: flex
		position: relative
		align-items: center
		padding: 0 10px
		&:first-child
			padding: 0 10px 0 0
		a
			color: #0066b3
			font-weight: 400
			font-size: r(15px)
			&.active
				color: #0066b3
			span
				color: #0066b3
		// &:first-child
		// 	padding-left: 0
		// 	// font-size: 0
		// 	a
		// 		font-size: 0
		// 		&::before
		// 			// font-family: remixicon!important
		// 			// content: "\ee22"
		// 			// font-size: r(18px)
		// 			// color: #0066b3
		+ li
			&::before
				font-family: remixicon!important
				content: "\EA6E"
				top: 53%
				transform: translateY(-50%)
				left: -8px
				position: absolute
				color: #0066b3
				font-size: r(20px)