.global-breadcrumb
	position: relative
	z-index: 1
	margin-top: -5.4rem
	padding-left: 278px
	top: -180px
	ol
		white-space: nowrap
		padding: 0
		list-style-type: none
		li
			display: inline-flex
			font-size: 16px
			line-height: 23px
			padding-right: 20px
			position: relative
			&:first-child
				display: block
				a
					color: #0068b0
					font-weight: 700
					font-size: 3.6rem
				&::before
					display: none
			a
				text-decoration: none
				font-size: 1.4rem
				line-height: 23px
				color: #0068b0
			&:before
				content: ''
				position: absolute
				pointer-events: none
				right: 0
				z-index: 9
				transition: .3s all ease-in-out
				font-family: "Linearicons-Free"
				content: '\e876'
				font-size: 1.2rem
				color: #0068b0
			&:last-child
				&:after
					display: none
			&.active
				color: #0068b0

	@media screen and(max-width: 768px)
		margin-bottom: 0
	@media screen and(max-width: 576px)
		.breadcrumb
			li
				font-size: 14px
				line-height: 22px
				a
					font-size: 13px
					line-height: 22px
					span
						font-size: 13px