.global-breadcrumb
	.container
		ol.breadcrumb
			li
				a(href="#") Tin Tức
			li.breadcrumb-item
				a(href='#') Trang chủ
			li.breadcrumb-item
				a(href='#') Giới thiệu 
			li.breadcrumb-item.active(aria-current='page') Data
