section.home_s-6
	.container
		.head-title
			img(src="./img/title/title-price.png", alt="")
		.row
			.col-lg-8
				.wrap-form
					.row
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text', placeholder="Họ và tên...")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Công ty...")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Số điện thoại...")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Email...")
						.form-group.col-12
							textarea#inpputTextArea.form-control(rows='3',placeholder="Nội dung...")
					.frm-btnwrap
						.frm-btn
							a(href="") GỬI
								span.material-icons trending_flat