section.home_s-2
	.container
		.head-title
			img(src="./img/title/title-choose-us.png", alt="")
		.item-big_s-2
			.img-polygon
				.icon-polygon
					.img
						img(src="./img/s-2/polygon-2.png", alt="")
					.block_list
						.text-icon
							span.counter(data-count="20") 0
							p +
								span Năm
						span Kinh nghiệm
				.icon-polygon
					.img
						img(src="./img/s-2/polygon-1.png", alt="")
					.block_list
						.text-icon
							span.counter(data-count="700") 0
							p +
								span Khách hàng
						span Trong nước và quốc tế
				.icon-polygon
					.img
						img(src="./img/s-2/polygon-3.png", alt="")
					.block_list
						.text-icon
							span.counter(data-count="30000") 0
							p +
								span Tấn
						span Giấy/ năm
				.icon-polygon
					.img
						img(src="./img/s-2/polygon-5.png", alt="")
					.block_list
						.text-icon
							span.counter(data-count="35000") 0
							p +
								span m²
						span Diện tích nhà xưởng
				.icon-polygon
					.img
						img(src="./img/s-2/polygon-4.png", alt="")
					.block_list
						.text-icon
							span.counter(data-count="420") 0
							p +
						span Nhân viên
		.row
			.col-12.col-md-6.col-lg-4
				.content_s-2
					.card_img
						.img
							img(src="./img/s-2/icon-1.png", alt="")
					.title_s-2
						a(href="#") Giải pháp tiết kiệm
					.desc_s-2
						p Bao bì Phương Nam sẽ tư vấn cho khách hàng giải pháp tiết kiệm nhất
			.col-12.col-md-6.col-lg-4
				.content_s-2
					.card_img
						.img
							img(src="./img/s-2/icon-2.png", alt="")
					.title_s-2
						a(href="#") Trong thời gian ngắn nhất
					.desc_s-2
						p Đáp ứng mọi đơn hàng lớn, nhỏ của quý doanh nghiệp trong thời gian ngắn
			.col-12.col-md-6.col-lg-4
				.content_s-2
					.card_img
						.img
							img(src="./img/s-2/icon-3.png", alt="")
					.title_s-2
						a(href="#") Với chất lượng tốt nhất
					.desc_s-2
						p Luôn nghiên cứu cãi tiến kỹ thuật, tiết giảm chi phí sản xuất mà vẫn đảm bảo chất lượng tốt nhất