section.home_s-2
	.container
		.head-title
			img(src="./img/title/title-choose-us.png", alt="")
		.item-big_s-2
			.img-polygon
				.icon-polygon
					.img
						img(src="./img/s-2/polygon-2.png", alt="")
					.block_list
						.text-icon
							span.counter(data-count="20") 0
							p +
								span Năm
						span Kinh nghiệm
				.icon-polygon
					.img
						img(src="./img/s-2/polygon-1.png", alt="")
					.block_list
						.text-icon
							span.counter(data-count="700") 0
							p +
								span Khách hàng
						span Trong nước và quốc tế
				.icon-polygon
					.img
						img(src="./img/s-2/polygon-3.png", alt="")
					.block_list
						.text-icon
							span.counter(data-count="30000") 0
							p +
								span Tấn
						span Giấy/ năm
				.icon-polygon
					.img
						img(src="./img/s-2/polygon-5.png", alt="")
					.block_list
						.text-icon
							span.counter(data-count="35000") 0
							p +
								span m²
						span Diện tích nhà xưởng
				.icon-polygon
					.img
						img(src="./img/s-2/polygon-4.png", alt="")
					.block_list
						.text-icon
							span.counter(data-count="420") 0
							p +
						span Nhân viên
