.home_s-4
	padding: 3.5rem 0
	.row
		display: flex
		justify-content: center
		align-items: center
	.item_s-4
		margin-top: 6.5rem
		border-radius: .5rem
		background: #fff
		padding: 6.5rem 3.4rem
		text-align: center
		height: 240px
		@media screen and ( max-width:1280px )
			height: auto
		@media screen and ( max-width: 1024.98px )
			margin-top: 3rem
		@media screen and ( max-width: 576px )
			margin-top: 3rem
		.desc_s-4
			a
				color: #111111
				font-size: 1.8rem
				padding-top: 2rem
				-webkit-box-orient: vertical
				-webkit-line-clamp: 3
				display: -webkit-box
				overflow: hidden
				text-overflow: ellipsis
				height: 7rem