section.home_s-4
	.container
		.head-title
			img(src="./img/title/title-service.png", alt="")
		.row
			.col-12.col-md-6.col-lg-3
				.item_s-4
					.card_img
						a(href="#")
							img(src="./img/s-4/1.png", alt="")
					.desc_s-4
						p Tư vấn giải pháp bao bì giấy carton
			.col-12.col-md-6.col-lg-3
				.item_s-4
					.card_img
						a(href="#")
							img(src="./img/s-4/2.png", alt="")
					.desc_s-4
						p Sản xuất giấy tấm carton - Hộp giấy các loại
			.col-12.col-md-6.col-lg-3
				.item_s-4
					.card_img
						a(href="#")
							img(src="./img/s-4/3.png", alt="")
					.desc_s-4
						p Dịch vụ in ấn Flexo - Offset (brochure, tờ rơi,...)