section.menu-list
	.container
		.head-menu
			ul
				li.active
					a(href="#") Tin tức
				li
					a(href="#") Hình ảnh
				li
					a(href="#") Video

section.news-detail
	.container
		.row
			.col-12.col-md-3.col-lg-3
				.title-detail
					h2 Tin tức khác
				-for(i=0; i<3; i++)
					.content-detail
						.img-detail
							img(src="./img/s-7/1.png", alt="")
						.title-zone-detail
							a(href="#") Đặc điểm của bao bì giấy carton
						.icon-news
							span.ri-calendar-2-line
							.date
								time 30/05/2017
			.col-12.col-md-9.col-lg-9
				.title-detail-right
					h1 Quy trình sản xuất thùng giấy carton
					.bottom-wrapper-news-detail
						.icon-top
							span.ri-calendar-2-line
							time 30/05/2017
						.social-network-share
							.icon
								a(href="#")
									span.ri-facebook-fill
								a(href="#")
									span.ri-twitter-fill
				.fullcontent
					.content_news_detail
						p Thùng carton là loại bao bì vô cùng phổ biến và được ưu chuộng trên thị trường. Thùng carton dùng để đóng gói, bảo quản, vận chuyển hàng hóa. Giúp bảo vệ lưu trữ, những sản phẩm bên trong không bị va đập, hư hỏng trong vận chuyển
						p Thùng carton là loại bao bì vô cùng phổ biến và được ưu chuộng trên thị trường. Thùng carton dùng để đóng gói, bảo quản, vận chuyển hàng hóa. Giúp bảo vệ lưu trữ, những sản phẩm bên trong không bị va đập, hư hỏng trong vận chuyển
					.content_news_detail
						img(src="./img/s-7/1.png", alt="")
					.content_news_detail
						span Bước 2: Chạy giấy sóng
						p Thùng carton là loại bao bì vô cùng phổ biến và được ưu chuộng trên thị trường. Thùng carton dùng để đóng gói, bảo quản, vận chuyển hàng hóa. Giúp bảo vệ lưu trữ, những sản phẩm bên trong không bị va đập, hư hỏng trong vận chuyển
						p Thùng carton là loại bao bì vô cùng phổ biến và được ưu chuộng trên thị trường. Thùng carton dùng để đóng gói, bảo quản, vận chuyển hàng hóa. Giúp bảo vệ lưu trữ, những sản phẩm bên trong không bị va đập, hư hỏng trong vận chuyển
					.content_news_detail
						img(src="./img/s-7/1.png", alt="")
					.content_news_detail
						span Bước 3: Cắt giấy
						p Thùng carton là loại bao bì vô cùng phổ biến và được ưu chuộng trên thị trường. Thùng carton dùng để đóng gói, bảo quản, vận chuyển hàng hóa. Giúp bảo vệ lưu trữ, những sản phẩm bên trong không bị va đập, hư hỏng trong vận chuyển
						p Thùng carton là loại bao bì vô cùng phổ biến và được ưu chuộng trên thị trường. Thùng carton dùng để đóng gói, bảo quản, vận chuyển hàng hóa. Giúp bảo vệ lưu trữ, những sản phẩm bên trong không bị va đập, hư hỏng trong vận chuyển
					.content_news_detail
						img(src="./img/s-7/1.png", alt="")
					