section.home_s-3
	.container
		.head-title
			img(src="./img/title/title-product.png", alt="")
		.row
			.col-12.col-md-6.col-lg-3
				.item-big
					.block-item
						.item__img
							a(href="#")
								img(src="./img/s-1/1.png", alt="")
							.title-zone
								.caption thùng carton 3 lớp
						.item__img-hover
							.content
								.img-hover
									a(href="#")
										img(src="./img/s-1/1.png", alt="")
									.desc thùng carton 7 lớp
			.col-12.col-md-6.col-lg-3
				.item-big
					.block-item
						.item__img
							a(href="#")
								img(src="./img/s-1/1.png", alt="")
							.title-zone
								.caption thùng carton 5 lớp
						.item__img-hover
							.content
								.img-hover
									a(href="#")
										img(src="./img/s-1/1.png", alt="")
									.desc thùng carton 7 lớp
			.col-12.col-md-6.col-lg-3
				.item-big
					.block-item
						.item__img
							a(href="#")
								img(src="./img/s-1/1.png", alt="")
							.title-zone
								.caption thùng carton 3 lớp
						.item__img-hover
							.content
								.img-hover
									a(href="#")
										img(src="./img/s-1/1.png", alt="")
									.desc thùng carton 7 lớp
			.col-12.col-md-6.col-lg-3
				.item-big
					.block-item
						.item__img
							a(href="#")
								img(src="./img/s-1/1.png", alt="")
							.title-zone
								.caption hộp giấy
						.item__img-hover
							.content
								.img-hover
									a(href="#")
										img(src="./img/s-1/1.png", alt="")
									.desc thùng carton 7 lớp
