section.home_s-3
	.container
		.head-title
			img(src="./img/title/title-product.png", alt="")
		.row
			.row
				-for (i=0; i<4; i++)
					.col-12.col-md-6.col-lg-3
						.item-product-home
							.item__img
								a(href="#")
									img(src="./img/product/1.png", alt="")
								.title-zone
									.caption hộp giấy
							.item__img-hover
								.content
									.img-hover
										a(href="#")
											img(src="./img/s-1/1.png", alt="")
										.desc thùng carton 7 lớp
			
