section.service
	.container
		.row
			.col-12.col-md-6.col-lg-4
				.item-service
					.card_img
						a(href="#")
							img(src="./img/service/1.png", alt="")
					.content-service
						.icon-service
							.img
								img(src="./img/service/icon-1.png", alt="")
						.title-service Tư vấn giải pháp bao bì giấy carton
						.caption-service
							p Với dịch vụ tư vấn thiết kế nhằm mang đến sự tối ưu cho việc thể hiện được thuông hiệu một cách độc đáo của khách hàng lên trên các sản phẩm.
			.col-12.col-md-6.col-lg-4
				.item-service
					.card_img
						a(href="#")
							img(src="./img/service/2.png", alt="")
					.content-service
						.icon-service
							.img
								img(src="./img/service/icon-2.png", alt="")
						.title-service Sản xuất giấy tấm carton - Hộp giấy các loại
						.caption-service
							p Với dịch vụ tư vấn thiết kế nhằm mang đến sự tối ưu cho việc thể hiện được thuông hiệu một cách độc đáo của khách hàng lên trên các sản phẩm.
			.col-12.col-md-6.col-lg-4
				.item-service
					.card_img
						a(href="#")
							img(src="./img/service/3.png", alt="")
					.content-service
						.icon-service
							.img
								img(src="./img/service/icon-3.png", alt="")
						.title-service Dịch vụ in ấn flexo - Offset trên bao bì, brochure, tờ rơi...
						.caption-service
							p Với dịch vụ tư vấn thiết kế nhằm mang đến sự tối ưu cho việc thể hiện được thuông hiệu một cách độc đáo của khách hàng lên trên các sản phẩm.
