.fancybox-close-small
	background: #f8a531
	opacity: 1
	path
		color: #0068b0
.fancybox-content
	width: 70%
	border-radius: 10px
	@media screen and ( max-width: 576px )
		width: 100%
.modal-about
	display: none
	.title
		font-size: 3rem
		color: #333333
		padding-bottom: 3rem
		font-weight: 600
	p
		padding-bottom: 2.5rem
		font-size: 1.6rem
		color: #0066b3
		font-style: italic