.head-title
	text-align: center
	img
		width: auto
		@media screen and ( max-width: 1024px )
			width: auto
			height: 90px

.sub-title
	text-align: center
	img
		width: auto
		@media screen and ( max-width: 1024px )
			width: auto
			height: 90px