<?xml version="1.0" encoding="utf-8" ?>
<settings>
    <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
    <templatelist xsltname="LienHe.xslt" name="Danh sách liên hệ"></templatelist>
    <templatelist xsltname="ViTriTuyenDung.xslt" name="Danh sách vị trí tuyển dụng"></templatelist>
    <templatelist xsltname="Images.xslt" name="Danh sách vị hình ảnh"></templatelist>
    <templatelist xsltname="Video.xslt" name="Danh sách video"></templatelist>
    <templatelist xsltname="Partner.xslt" name="Danh sách khách hàng"></templatelist>
    <templatelist xsltname="DichVuList.xslt" name="Danh sách dịch vụ"></templatelist>

    <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
    <templatedetail xsltname="TuyenDungDetail.xslt" name="Chi tiết tuyển dụng"></templatedetail>
    <templatedetail xsltname="DichVuDetail.xslt" name="Chi tiết dịch vụ"></templatedetail>
    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
        <add name="Giới thiệu trang chủ" value="1" resourcefile="" />
        <add name="Tại sao chọn trang chủ" value="2" resourcefile="" />
        <add name="Dịch vụ trang chủ" value="4" resourcefile="" />
        <add name="Đối tác khách trang chủ" value="8" resourcefile="" />
		<add name="Tin tức trang chủ" value="16" resourcefile="" />
    </position>
</settings>
