<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
	<templatelist xsltname="LienHe.xslt" name="Danh sách liên hệ"></templatelist>
	<templatelist xsltname="ViTriTuyenDung.xslt" name="Danh sách vị trí tuyển dụng"></templatelist>

	<templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
	<templatedetail xsltname="TuyenDungDetail.xslt" name="Chi tiết tuyển dụng"></templatedetail>
    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Giới thiệu trang chủ" value="1" resourcefile="" />
	  <add name="Tại sao chọn trang chủ" value="2" resourcefile="" />
    </position>

</settings>
