section.client-brand
	.container
		.row
			.col-lg-10
				.desc-client Với hơn 20 năm kinh nghiệm, Công ty TNHH TM-SX Bao Bì Phương Nam cung cấp bao bì Phương Nam cung cấp bao bì đóng gói cho nhiều loại hàng hóa (điện tử, hóa mỹ phẩm, thực phẩm, may mặc, giầy dép, gỗ, gạch men, nông-thủy-sản, v...v...) cho thị trường nội địa và xuất khẩu trực tiếp vào thị trường quốc tế (Nhật, Mỹ, Úc, Đan Mạch, v...v...).
			.col-lg-12
				.client-slide-swiper-wrapper
					.nav-arrow-prev
						em.lnr.lnr-chevron-left
					.nav-arrow-next
						em.lnr.lnr-chevron-right
					.swiper-container
						.swiper-wrapper
							-for (i=0; i<7; i++)
								.swiper-slide
									.wrapper
										a(href="#")
											img(src="./img/s-5/brand-1.png", alt="")