section.menu-list
	.container
		.head-menu
			ul
				li.active
					a(href="#") Thông điệp CEO
				li
					a(href="#") Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
				li
					a(href="#") Cở sở - nhà máy
				li
					a(href="#") Năng lực công nghệ
				li
					a(href="#") Chứng nhận giải thưởng
				li
					a(href="#") Đối tác khách hàng

.background-big-about-1
	section.about-1
		.container
			.row
				.col-12.col-md-6.col-lg-6
					.card_img
						.img
							img(src="./img/about/ceo-1.png", alt="")
				.col-12.col-md-6.col-lg-6
					.content-about-1
						.title-about
							img(src="./img/about/title-ceo.png", alt="")
						.desc-about-1
							p Chúng tôi chuyên sản xuất và xuất khẩu quốc tế các sản phẩm Carton chất lượng cao với công nghệ máy móc hiện đại như in Flexco và Offet đến cho tất cả ngành hàng. Với đội ngũ nhân viên chuyên nghiệp và được đào tạo kiến thức chuyên môn cao. Phương Nam cam kết sẽ tiếp tục cung cấp đến quý khách hàng những sản phẩm chất lượng tốt với chi phí hợp lý và dịch vụ chu đáo.Chúng tôi chuyên sản xuất và xuất khẩu quốc tế các sản phẩm Carton chất lượng cao với công nghệ máy móc hiện đại như in Flexco và Offet đến cho tất cả ngành hàng. Với đội ngũ nhân viên chuyên nghiệp và được đào tạo kiến thức chuyên môn cao.
						.btn-view
							a(href="#") xem thêm
								span.material-icons arrow_right_alt

	section.about-2
		.container
			.row
				.col-12.col-md-6.col-lg-6
					.item-about-2
						.title-about
							img(src="./img/about/title-vision.png", alt="")
						.caption-about
							p Luôn phấn đấu để trở thành những nhà sản xuất cung cấp sản phẩm, dịch vụ và giải pháp bao bì giấy uy tin hàng đầu Việt Nam
				.col-12.col-md-6.col-lg-6
					.card_img
						.img
							img(src="./img/about/vision-1.png", alt="")

			.row
				.col-12.col-md-6.col-lg-6
					.item-about-2
						.title-about
							img(src="./img/about/title-mission.png", alt="")
						.caption-about
							p Luôn phấn đấu để trở thành những nhà sản xuất cung cấp sản phẩm, dịch vụ và giải pháp bao bì giấy uy tin hàng đầu Việt Nam
							p Luôn phấn đấu để trở thành những nhà sản xuất cung cấp sản phẩm, dịch vụ và giải pháp bao bì giấy uy tin hàng đầu Việt Nam
							p Luôn phấn đấu để trở thành những nhà sản xuất cung cấp sản phẩm, dịch vụ và giải pháp bao bì giấy uy tin hàng đầu Việt Nam
							p Luôn phấn đấu để trở thành những nhà sản xuất cung cấp sản phẩm, dịch vụ và giải pháp bao bì giấy uy tin hàng đầu Việt Nam
				.col-12.col-md-6.col-lg-6
					.card_img
						.img
							img(src="./img/about/mission-1.png", alt="")

	section.about-3
		.container
			.row
				.col-lg-8
					.title-about-3
						img(src="./img/about/title-value.png", alt="")
					.big-about-bg
						.img
							img(src="./img/about/value-1.png", alt="")

.background-big-about-2
	section.about-4
		.container
			.title-about
				img(src="./img/about/title-factory.png", alt="")
			.about-factory-swiper-wrapper
				.nav-arrow-prev
					em.lnr.lnr-chevron-left
				.nav-arrow-next
					em.lnr.lnr-chevron-right
				.swiper-container.factory-slide
					.swiper-wrapper
						.swiper-slide
							.factory-img
								img(src="./img/about/factory-1.png", alt="")
						.swiper-slide
							.factory-img
								img(src="./img/about/factory-1.png", alt="")
						.swiper-slide
							.factory-img
								img(src="./img/about/factory-1.png", alt="")

	section.about-5
		.container
			.title-about-5
				img(src="./img/about/title-competence.png", alt="")
				.desc-about-5 Công ty có khả năng đáp ứng nhiều đơn hàng lớn nhỏ trong thời gian ngắn nhất. 2 dây chuyền máy dợn sóng(công suất 4000 tấn giấy/ tháng). 10 máy in và nhiều máy phụ trợ
			.about-news-swiper-wrapper
				.nav-arrow-prev
					em.lnr.lnr-chevron-left
				.nav-arrow-next
					em.lnr.lnr-chevron-right
				.swiper-container
					.swiper-wrapper
						-for (i=0; i<4; i++)
							.swiper-slide
								.wrapper
									.about-img
										a(href="#")
											img(src="./img/about/competence-1.png", alt="")
									.content
										.caption-slide
											a(href="#") Máy in flexo

section.about-6
	.container
		.row
			.col-12.col-md-6.col-lg-6
				.title-about
					img(src="./img/about/title-prize.png", alt="")
			.col-12.col-md-6.colg-lg-6
				.about-prize-swiper-wrapper
					.swiper-container.slide-prize
						.swiper-wrapper
							.swiper-slide
								.wrapper
									.about-prize-img
										.img
											img(src="./img/about/prize-1.png", alt="")
							.swiper-slide
								.wrapper
									.about-prize-img
										.img
											img(src="./img/about/prize-1.png", alt="")
					.nav-arrow-prev
						em.lnr.lnr-chevron-left
					.nav-arrow-next
						em.lnr.lnr-chevron-right

section.about-7
	.container
		.title-about
			img(src="./img/about/title-client.png", alt="")
		.about-client-swiper-wrapper
			.nav-arrow-prev
				em.lnr.lnr-chevron-left
			.nav-arrow-next
				em.lnr.lnr-chevron-right
			.swiper-container
				.swiper-wrapper
					-for (i=0; i<7; i++)
						.swiper-slide
							.wrapper
								a(href="#")
									img(src="./img/s-5/brand-1.png", alt="")