extends _layout.pug

block var
	- var title = 'Giới thiệu'
	- var bodyClass = 'about-page'

block main
	include ../components/UI/top-banner/index.pug
	include ../components/UI/breadcrumb/index.pug
	include ../components/about/index.pug

