section.contact
	.container
		.row
			.col-lg-5
				.srcoll-branch
					.text-contact Công ty TNHH SX - TM Bao bì phương nam
					.branch-one
						ul
							li
								.building-city
									.icon
										em.ri-building-4-line
									.city Văn Phòng Chính
								.address-store
									p KCN Tân Phú Trung, Huyện Củ Chi, TP.HCM
								.hotline
									p Hotline: 
										span 0985.192.605
							li.active
								.building-city
									.icon
										em.ri-building-3-line
									.city Nhà Máy In
								.address-store
									p 464/5 Nguyễn Văn Quá, P.Đông Hưng, Quận 12, TP.HCM
								.hotline
									p Hotline: 
										span 0919.623.389
					.branch-two
						ul
							li
								.icon
									em.ri-mail-line
								.text Phuongnambaobi@gmail.com
							li
								.icon
									em.ri-phone-fill
								.text (+84) 37961762 - 37961763 - 37963644 - 37962812
							li
								.icon
									em.ri-printer-line
								.text (+84) 37961761 - 37961763
							li
								.icon
									em.ri-earth-fill
								.text 
									a(href="") www.phuongnambaobi.com
							li
								.icon
									em.ri-earth-fill
								.text
									a(href="#") www.phuongnampacking.com
			.col-lg-7
				.map-wrapper
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19896.2391182464!2d106.67608946496217!3d10.772064938675168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f26de7d8973%3A0x8d5075f38e1bf491!2zNTA2LCAxNyBCYSBUaMOhbmcgSGFpLCBwaMaw4budbmcgMTEsIFF14bqtbiAxMCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1590154490382!5m2!1svi!2s',  frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0',width="100%",height="550px")

section.form-contact
	.container
		.row.border
			.col-lg-10
				.head-title
					img(src="./img/title/information.png", alt="")
				.wrap-form
					.row
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text', placeholder="Họ và tên...")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Công ty...")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Số điện thoại...")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Email...")
						.form-group.col-12
							textarea#inpputTextArea.form-control(rows='3',placeholder="Nội dung...")
					.frm-btnwrap
						.frm-btn
							a(href="") GỬI
								span.material-icons trending_flat
	.img-contact
		.container
			.row
				.col-lg-11
					.card_img
						.img
							img(src="./img/contact/1.png", alt="")