section.home-banner
	.container-fuild
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						a
							img(src="./img/banner.png", alt="")
					.caption
						h2.title-caption Công ty TNHH SX-TM Bao Bì 
						h2.title-caption Phương Nam
		.img-clouds
			img(src="./img/may.png", alt="")