section.home_s-1
	.container
		.head-title
			img(src="./img/title/title-about.png", alt="")
		.row
			.col-lg-6
				.content
					.sub-title
						h2 Xuyên suốt quá trình thành và phát triển từ năm 1999, Phương Nam tự hào là một những nhà cung cấp bao bì tiên phong hàng đầu Việt Nam với mức tăng trưởng từ 20-30% hàng năm
					.desc
						p Chúng tôi chuyên sản xuất và xuất khẩu quốc tế các sản phẩm Carton chất lượng cao với công nghệ máy móc hiện đại như in Flexco và Offet đến cho tất cả ngành hàng. Với đội ngũ nhân viên chuyên nghiệp và được đào tạo kiến thức chuyên môn cao. Phương Nam cam kết sẽ tiếp tục cung cấp đến quý khách hàng những sản phẩm chất lượng tốt với chi phí hợp lý và dịch vụ chu đáo.
					.btn-view
						a(href="#") tìm hiểu thêm
							span.material-icons arrow_right_alt
			.col-lg-6
				.card_img
					a(href="#")
						img(src="./img/s-1/1.png", alt="")
						 

