section.recruitment
	.container
		.row.bg-hr
			.col-12.col-md-6.col-lg-6
				.card_img
					a(href="#")
						img(src="./img/recruitment/1.png", alt="")
			.col-12.col-md-6.col-lg-6
				.content-hr
					.sub-title
						img(src="./img/recruitment/title-1.png", alt="")
					.desc-hr
						p Phương Nam là một doanh nghiệp có môi trường làm việc chuyên nghiệp, uy tín và chất lượng. Công ty luôn ưu tiên chú trọng việc xây dựng chính sách lương, thưởng, phúc lợi tốt và thường xuyên tổ chức các khóa học đào tạo nâng cao kỹ năng trong công việc. Đại gia đình Phương Nam với niềm tin, sức trẻ nhiệt huyết chắc chắn sẽ là lựa chọn hoàn hảo trên con đường sự nghiệp của bạn

section.recruitment-2
	.container
		.sub-title
			img(src="./img/recruitment/title-2.png", alt="")
		.row
			.col-6.col-md-6.col-lg-2
				.list-icon-hr
					.img-icon
						a(href="#")
							img(src="./img/recruitment/icon-1.png", alt="")
					.title-icon Bước 1
					.caption-icon Ứng tuyển
			.col-6.col-md-6.col-lg-2
				.list-icon-hr
					.img-icon
						a(href="#")
							img(src="./img/recruitment/icon-2.png", alt="")
					.title-icon Bước 2
					.caption-icon Tiếp nhận và sàn lọc hồ sơ
			.col-6.col-md-6.col-lg-2
				.list-icon-hr
					.img-icon
						a(href="#")
							img(src="./img/recruitment/icon-3.png", alt="")
					.title-icon Bước 3
					.caption-icon Phỏng vấn
			.col-6.col-md-6.col-lg-2
				.list-icon-hr
					.img-icon
						a(href="#")
							img(src="./img/recruitment/icon-4.png", alt="")
					.title-icon Bước 4
					.caption-icon Bổ sung hồ sơ
			.col-6.col-md-6.col-lg-2
				.list-icon-hr
					.img-icon
						a(href="#")
							img(src="./img/recruitment/icon-5.png", alt="")
					.title-icon Bước 5
					.caption-icon Thông báo kết quả

section.recrtuiment-3
	.container
		.sub-title
			img(src="./img/recruitment/title-3.png", alt="")
		.row
			.col-lg-12
				.card-body
					table.table.table-striped
						thead
							tr
								th(scope='col') Stt
								|
								th(scope='col') Vị trí tuyển dụng 
								|
								th(scope='col') Số lượng
								|
								th(scope='col') Địa điểm 
								|
								th(scope='col') Hạn nộp
							|
						
						tbody
							tr
								td 1
								|
								td 
									a(href="recruitment-detail.html") Nhân viên kỹ thuật dịch vụ
								|
								td 01
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 2
								|
								td 
									a(href="recruitment-detail.html") Nhân viên thu mua
								|
								td 02
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 3
								|
								td 
									a(href="recruitment-detail.html") Trưởng phòng marketing
								|
								td 07
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 4
								|
								td 
									a(href="recruitment-detail.html") Kế toán viên
								|
								td 01
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 5
								|
								td 
									a(href="recruitment-detail.html") Lập trình viên
								|
								td 05
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 6
								|
								td 
									a(href="recruitment-detail.html") Hành chính văn phòng
								|
								td 10
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 7
								|
								td 
									a(href="recruitment-detail.html") Trưởng phòng kinh doanh
								|
								td 01
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 8
								|
								td 
									a(href="recruitment-detail.html") Nhân viên kỹ thuật dịch vụ
								|
								td 01
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 9
								|
								td 
									a(href="recruitment-detail.html") Nhân viên thu mua
								|
								td 02
								|
								td TP.HCM
								|
								td 30/03/2020
							|
							tr
								td 10
								|
								td 
									a(href="recruitment-detail.html") Trưởng phòng marketing
								|
								td 02
								|
								td TP.HCM
								|
								td 30/03/2020


