section.home_s-7
	.container
		.head-title
			img(src="./img/title/title-news.png", alt="")
		.home-news-swiper-wrapper
			.nav-arrow-prev
				em.material-icons arrow_back_ios
			.nav-arrow-next
				em.material-icons arrow_forward_ios
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							.news-img
								a(href="#")
									img(src="./img/s-7/1.png", alt="")
							.content
								.title-news
									a(href="#") Thùng carton - Sản phẩm thân thiện với môi trường
								.date
									time 19/06/2020
					.swiper-slide
						.wrapper
							.news-img
								a(href="#")
									img(src="./img/s-7/2.png", alt="")
							.content
								.title-news
									a(href="#") Tìm hiểu về thùng giấy carton
								.date
									time 19/06/2020
					.swiper-slide
						.wrapper
							.news-img
								a(href="#")
									img(src="./img/s-7/3.png", alt="")
							.content
								.title-news
									a(href="#") Quy trình sản xuất thung giấy carton
								.date
									time 19/06/2020
					.swiper-slide
						.wrapper
							.news-img
								a(href="#")
									img(src="./img/s-7/4.png", alt="")
							.content
								.title-news
									a(href="#") Đặc điểm của bao bì giấy carton
								.date
									time 19/06/2020