section.recruitment-detail
	.container
		.row
			.col-12.col-md-3.col-lg-3
				.form_apply_hr_detail
					.apply-form
						.btn.button-apply
							a(href="") Ứng tuyển ngay
						.btn.button-download
							a(href="") Tải form ứng tuyển
				.contact-recruitment
					.title-hr-cc
						h3 Thông tin liên hệ
					.content-hr-cc
						ul
							li
								.icon-hr-cc
									span.ri-mail-fill
								.caption-hr-cc 
									p phuongnambaobi@gmail.com
							li
								.icon-hr-cc
									span.ri-map-pin-2-fill
								.caption-hr-cc 
									p KCN Tân Phú Trung, Huyện Củ Chi, TPHCM
							li
								.icon-hr-cc
									span.ri-global-line
								.caption-hr-cc
									a(href="#") www.phuongnambaobi.com - www.phuongnampacking.com
							li
								.icon-hr-cc
									span.ri-phone-fill
								.caption-hr-cc
									p (+84) 37961762 - 37961763 - 37963644 - 37962812
				.location-hr-detail
					.card-title-left
						h3 Vị trí khác
					.content_hr_detail_left
						.hr_detail_left_list
							ul
								li
									.title_hr_detail_left
										a(href="") Nhân viên vận hành máy
									.item-hr-locat
										.icon-location
											span.ri-calendar-2-line
										.date
											time 30/05/2017
								li
									.title_hr_detail_left
										a(href="") Lao động phổ thông
									.item-hr-locat
										.icon-location
											span.ri-calendar-2-line
										.date
											time 30/05/2017
								li
									.title_hr_detail_left
										a(href="") Nhân viên kế toán tổng hợp
									.item-hr-locat
										.icon-location
											span.ri-calendar-2-line
										.date
											time 30/05/2017
								li
									.title_hr_detail_left
										a(href="") Nhân viên vận hành máy
									.item-hr-locat
										.icon-location
											span.ri-calendar-2-line
										.date
											time 30/05/2017
			
			.col-12.col-md-9.col-lg-9
				.card_title_hr_detail
					h1 Nhân viên kế toán tổng hợp
					.bottom-wrapper-news-detail
						.icon-top
							span.ri-calendar-2-line
							time 30/05/2017
						.social-network-share
							.icon
								a(href="#")
									span.ri-facebook-fill
								a(href="#")
									span.ri-twitter-fill
				.card_body_hr_detail
					table.table.table-striped
						tbody
							tr
								th(scope='row') Khu vực
								|
								td :Thành Phố TP.HCM
							|
							tr
								th(scope='row') Hình thức
								|
								td :Toàn thời gian cố định
							|
							tr
								th(scope='row') Giới tính
								|
								td :Nam/Nữ
							|
							tr
								th(scope='row') Trình độ
								|
								td :Tốt nghiệp cao đẵng
							|
							tr
								th(scope='row') Mức lương
								|
								td :15.000.000 - 20.000.000 vnđ
							|
							tr
								th(scope='row') Số lượng
								|
								td :01
							|
							tr
								th(scope='row') Hạn nộp
								|
								td :30/06/2020

				//- MÔ TẢ CÔNG VIỆC
				.hr_list_content
					.hr-detail_content
						h3 Mô tả công việc
					.text
						ul
							li
								p Lương 15-20 triệu
							li 
								p Tăng lương định kỳ và đột xuất hàng năm
							li 
								p Thưởng theo hiệu quả kinh doanh nhận hoa hồng theo quý
							li 
								p Lương tháng 13 + thưởng theo năng lực 
							li 
								p Được tham gia đầy đủ các chế độ BHXH, BHYT, BHTN,...
							li 
								p Du lịch trong và ngoài nước 
							li 
								p Tham gia các chương trình hội thao, teambuilding... 
							li 
								p Được đào tạo nâng cao các kỹ năng 
							li 
								p Nhiều cơ hội thăng tiến

					//- Các chi tiêu
					.hr-detail_content
						h3 Quyền lợi được hưởng
					.text
						ul
							li 
								p Lên kế hoạc truyền thông hiệu quả, góp phần tăng doanh số cho các chương trình khuyến mãi và tạo hình ảnh đẹp cho công ty
							li 
								p Tạo được tốt với các phóng viên báo/đài
							li 
								p Đảm bảo việc hạn chế tối đa sai sót trong công việc
							li 
								p Hoàn tất cả việc được giao, dẳm bảo đúng tiến độ và hiệu quả cao.
							li 
								p Mức lương hài lòng với đối tác, đồng nghiệp, lãnh đạo,...
							li 
								p Chủ động, tự giác trong việc thực hiện nhiệm vụ được giao.

					//- YÊU CẦU
					.hr-detail_content
						h3 Yêu cầu
					.text
						ul
							li 
								p Tốt nghiệp đại học chuyên ngành XDDD
							li 
								p Kinh nghiệp 5 năm
							li 
								p Thành thạo vi tính văn phòng, các phần mềm chuyên ngành
