section.support-client
	.container
		.row
			.col-12.col-md-3.col-lg-3
				.left-support
					.title-sp
						h1 Hỗ trợ khách hàng
					.content-sp
						ul
							li
								a(href="") Chính sách mua hàng
							li
								a(href="") Chính sách bán hàng
							li
								a(href="") Chính sách bảo hành và đổi trả
							li
								a(href="") Hình thức thanh toán

			.col-12.col-md-9.col-lg-9
				.privacy-policy
					.title-policy
						h2 Chính sách mua hàng
					.caption-policy
						strong Cty TNHH TM SX Bao Bì Phương Nam xin gửi tới quý khách chính sách mua hàng dành cho tất cả khách hàng trên toàn quốc khi mua hàng của chúng tôi như sau:
					.caption-policy
						.title-zone-policy
							p 1. Mua hàng trực tiếp tại công ty:
							span VP và Nhà máy: Khu Công Nghiệp Tân Phú Trung, Ấp Giữa, Tân Phú Trung, H.Củ Chi, HCM. Điện thoại: (028) 37961762, 37962810, 37963644.
					.caption-policy
						.title-zone-policy
							p 2. Mua hàng qua điện thoại:
							span Quý khách có thể gọi điện tới số Hotline: 0938155838. Thời gian phục vụ 8h đến 18h các ngày trong tuần, nhân viên Phương Nam sẵn sàng phục vụ quý khách
					.caption-policy
						.title-zone-policy
							p 3. Đặt hàng qua Email:
							span Quý khách gửi thông tin đặt hàng tới phuongnambaobi@gmail.com - thời gian phục vụ 24/7
					.caption-policy
						.title-zone-policy
							p 4. Đặt hàng Online:
							ul
								li
									span Quý khách gửi yêu cầu đặt hàng trên trang web tại phần "Hợp Tác/Nhận Báo Giá", sau đó ấn "Gửi". Nhân viên công ty sẽ gọi điện xác nhận thông tin và tư vấn cho khách hàng.
								li
									span Quý khách chat và đặt hàng tại phần box "Hỗ trợ", sẽ có nhân viên Công ty sẽ trả lời trực tiếp với bạn qua phần box chat này. thời gian phục vụ 8h đến 18h các ngày trong tuần
					.caption-policy
						.title-zone-policy
							.note Một số lưu ý
							ul
								li
									span Chúng tôi chỉ chấp nhận những đơn hàng đã đặt cung cấp đủ thông tin chính xác về địa chỉ, số điện thoại cố định,... Sau khi quý khách hàng đặt, chúng tôi sẽ liên lạc lại để kiểm tra thông tin và thỏa thuận trên có liên quan.
								li
									span Địa chỉ giao hàng phải có thông tin người nhận hàng, địa chỉ, số điện thoại chính xác, rõ ràng. Chúng tôi không chịu trách nhiệm khi quý khách ghi sai thông tin người nhận
								li
									span Một số trường hợp đặc biệt nhạy cảm, chúng tôi có quyền từ chối giao hàng trực tiếp. Mong quý khách thông cảm!