header
	.container
		.header
			.header_logo
				a(href="#")
					img(src="./img/logo.png", alt="")
			.header_main
				.header_top
					.search-icon
						span.ri-search-2-line
					.language
						.img-lange
							img(src="./img/icon-vn.png", alt="")
						a.current VN
							span.ri-arrow-down-s-fill
						ul.drop-down
							li
								a EN
					.header_btn
						span.ri-menu-line
				.header_menu
					ul.nav-menu
						li.active
							a(href="index.html")
								span.ri-home-6-line
						li
							a(href="about.html") Giới thiệu
						li
							a(href="product-list.html") Sản phẩm
						li
							a(href="service.html") Dịch vụ - Giái pháp
						li
							a(href="client-brand.html") Khách hàng
						li
							a(href="news-list.html") Tin tức
						li
							a(href="recruitment.html") Tuyển dụng
						li
							a(href="contact.html") Liên hệ
					
	.block_search
		.search-icon
			span.ri-close-line
		.search_box
			input(type="text" placeholder="Tìm kiếm")
			button(type="submit").material-icons search
	.menu_mobile
		.header_btn
			span.ri-close-line
		.mobile-wrapper
	.overlay