section.service-detail
	.container
		.title-srv-detail
			h1 Sản xuất bao bì giấy cartion - hộp giấy các loại
		.content-srv-detail
			p Công ty TNHH SX-TM Bao Bì Phương Nam thành lập từ năm 1999, với 21 năm là nhà cung cấp bao bì giấy chuyên nghiệp đòng hành cùng các thương hiệu Việt Nam. Nhà máy chúng tôi được đặt tài Tân Phú Trung, Củ chi với quy mô khép kín 2 dây chuyền sản xuất bao bì carton hiện đại để đáp ứng bao bì nhu cầu giấy 3 lớp, 5 lớp, 7 lớp với công nghệ in flexo và in Offset chất lượng cao, đặc biệt thùng carton in offset khổ lớn xuất khẩu. Sản phẩm bao bì của chúng tôi đã được thị trường trong nước biết đến nhiều năm nay, đặc biệt sản phẩm chúng tôi đạt các yêu cầu chất lượng sản phẩm khắt khe để  
				span xuất khẩu nước ngoài: Nhật úc, Mỹ, Đan Mạch, Hàn Quốc, Campuchia, Trung Quốc
			p Công ty TNHH SX-TM Bao Bì Phương Nam thành lập từ năm 1999, với 21 năm là nhà cung cấp bao bì giấy chuyên nghiệp đòng hành cùng các thương hiệu Việt Nam carton hiện đại để đáp ứng bao bì nhu cầu giấy 3 lớp, 5 lớp, 7 lớp với công nghệ in flexo và in Offset chất lượng cao, đặc biệt thùng carton in offset khổ lớn xuất khẩu.
			
		.row
			.col-lg-4
				.card_img
					a(href="#")
						img(src="./img/service-detail/1.png", alt="")
			.col-lg-4
				.card_img
					a(href="#")
						img(src="./img/service-detail/2.png", alt="")
			.col-lg-4
				.card_img
					a(href="#")
						img(src="./img/service-detail/3.png", alt="")

		.serivce-detail-swiper-wrapper
			.nav-arrow-prev
				em.lnr.lnr-chevron-left
			.nav-arrow-next
				em.lnr.lnr-chevron-right
			.swiper-container.slide-srv-detail
				.swiper-wrapper
					.swiper-slide
						.card_body
							a(href="")
								img(src="./img/service-detail/slide-1.png", alt="")
					.swiper-slide
						.card_body
							a(href="")
								img(src="./img/service-detail/slide-2.png", alt="")
